# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env


# Jupyter
.ipynb_checkpoints/

# Data
archive/
data/
datasets/

# Models
models/
*.pkl
*.joblib

# VS Code
.vscode/

AI_Engineer_Assessment_AV.pdf
PLAN.md

node_modules/
frontend/node_modules/
frontend/.env
.astro/
dist/